<nav class="navbar navbar-expand-lg">
    <div class="container-fluid justify-content-center">
      <img src="../../../assets/immagini/logo-preview.png" alt="Logo">
    </div>
    <div class="container-fluid justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link"[routerLink]="['/all']">All</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ros Jewels</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Collezioni diamanti</a></li>
            <li><a class="dropdown-item" href="#">Collezioni oro</a></li>
            <li><a class="dropdown-item" href="#">Collezioni argento</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Love Jewels</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Anelli love</a></li>
            <li><a class="dropdown-item" href="#">Bracciali love</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="#" style="color: hotpink;">SUMMER VIBES</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Brand</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Disney</a></li>
            <li><a class="dropdown-item" href="#">Recarlo</a></li>
            <li><a class="dropdown-item" href="#">Pianegonda</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link"[routerLink]="['/anelli']">Anelli</a></li>
        <li class="nav-item"><a class="nav-link"[routerLink]="['/orecchini']">Orecchini</a></li>
        <li class="nav-item"><a class="nav-link"[routerLink]="['/collane']">Collane</a></li>
        <li class="nav-item"><a class="nav-link"[routerLink]="['/bracciali']">Bracciali</a></li>
        <li class="nav-item"><a class="nav-link"[routerLink]="['/ciondoli']">Ciondoli</a></li>
        <li class="nav-item"><a class="nav-link"[routerLink]="['/accessori']">Accessori</a></li>
        <li class="nav-item"><a class="nav-link"[routerLink]="['/orologi']">Orologi</a></li>
      </ul>
    </div>
  </nav>


  <div class="terms-conditions-container">
    <h1>Termini e Condizioni di Ros Jewels</h1>
  
    <section>
      <h2>1. Introduzione</h2>
      <p>
        Benvenuti su Ros Jewels. Utilizzando il nostro sito web, effettuando acquisti o usufruendo dei nostri servizi, accettate di rispettare i seguenti termini e condizioni. Si prega di leggere attentamente questi termini prima di utilizzare il sito. Se non siete d'accordo con qualsiasi parte di questi termini, vi invitiamo a non utilizzare il nostro sito.
      </p>
    </section>
  
    <section>
      <h2>2. Uso del Sito Web</h2>
      <p>
        Accedendo a Ros Jewels, confermate di avere almeno 18 anni o di utilizzare il sito sotto la supervisione di un genitore o tutore legale. Vi impegnate a utilizzare il sito in conformità con tutte le leggi applicabili e ad astenervi da qualsiasi utilizzo che possa danneggiare, compromettere o interferire con il sito stesso o con altri utenti.
      </p>
    </section>
  
    <section>
      <h2>3. Prodotti e Servizi</h2>
      <p>
        Ros Jewels si impegna a fornire descrizioni accurate e aggiornate dei propri prodotti e servizi. Tuttavia, non garantiamo che le descrizioni dei prodotti, le immagini o altre informazioni siano esenti da errori. Ci riserviamo il diritto di correggere qualsiasi errore, inesattezza o omissione e di modificare o aggiornare le informazioni in qualsiasi momento senza preavviso.
      </p>
    </section>
  
    <section>
      <h2>4. Prezzi e Pagamenti</h2>
      <p>
        Tutti i prezzi indicati sul sito sono espressi in Euro (€) e includono l'IVA, salvo ove diversamente specificato. Ci riserviamo il diritto di modificare i prezzi dei prodotti in qualsiasi momento senza preavviso. Il pagamento degli acquisti può essere effettuato tramite carta di credito, PayPal o altri metodi indicati sul sito.
      </p>
    </section>
  
    <section>
      <h2>5. Spedizione e Consegna</h2>
      <p>
        Ros Jewels effettua spedizioni in Italia e in altri Paesi selezionati. Le spese di spedizione e i tempi di consegna variano in base alla destinazione e al tipo di spedizione scelto. Faremo il possibile per consegnare i vostri ordini entro i tempi stimati, ma non possiamo garantire date specifiche di consegna.
      </p>
    </section>
  
    <section>
      <h2>6. Resi e Rimborsi</h2>
      <p>
        Accettiamo resi per i prodotti acquistati entro 14 giorni dalla data di consegna, a condizione che i prodotti siano nelle loro condizioni originali, non utilizzati, e con tutte le etichette e l'imballaggio originale. Il rimborso sarà effettuato utilizzando lo stesso metodo di pagamento utilizzato per l'acquisto originale, salvo diverso accordo. Le spese di spedizione non sono rimborsabili, salvo nel caso di prodotti difettosi o errori di spedizione.
      </p>
    </section>
  
    <section>
      <h2>7. Proprietà Intellettuale</h2>
      <p>
        Tutti i contenuti presenti sul sito, inclusi ma non limitati a testi, grafica, loghi, immagini, video, software e altri materiali, sono di proprietà di Ros Jewels o dei nostri licenziatari e sono protetti dalle leggi sul diritto d'autore e dalle altre normative vigenti in materia di proprietà intellettuale.
      </p>
    </section>
  
    <section>
      <h2>8. Limitazione di Responsabilità</h2>
      <p>
        Ros Jewels non sarà responsabile per eventuali danni diretti, indiretti, incidentali, speciali o consequenziali derivanti dall'uso del sito, dall'acquisto di prodotti o servizi, o da qualsiasi altra interazione con il sito stesso. L'uso del sito è a vostro rischio esclusivo.
      </p>
    </section>
  
    <section>
      <h2>9. Modifiche ai Termini e Condizioni</h2>
      <p>
        Ci riserviamo il diritto di modificare questi termini e condizioni in qualsiasi momento. Le modifiche saranno pubblicate su questa pagina e, se rilevanti, comunicate agli utenti tramite email o altre modalità appropriate. Continuando a utilizzare il sito dopo le modifiche, accettate i nuovi termini e condizioni.
      </p>
    </section>
  
    <section>
      <h2>10. Contatti</h2>
      <p>
        Per qualsiasi domanda o chiarimento sui nostri Termini e Condizioni, vi preghiamo di contattarci all'indirizzo:
      </p>
      <address>
        <strong>Ros Jewels</strong><br />
        Via dell'Esempio, 123, Milano, Italia<br />
        Email: <a href="mailto:info@rosjewels.com">info@rosjewels.com</a><br />
        Telefono: +39 012 3456789
      </address>
      <p>Grazie per aver scelto Ros Jewels!</p>
    </section>
  </div>
  