<nav class="navbar navbar-expand-lg">
    <div class="container-fluid justify-content-center">
      <img src="../../../assets/immagini/logo-preview.png" alt="Logo">
    </div>
    <div class="container-fluid justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link"[routerLink]="['/all']">All</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ros Jewels</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Collezioni diamanti</a></li>
            <li><a class="dropdown-item" href="#">Collezioni oro</a></li>
            <li><a class="dropdown-item" href="#">Collezioni argento</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Love Jewels</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Anelli love</a></li>
            <li><a class="dropdown-item" href="#">Bracciali love</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="#" style="color: hotpink;">SUMMER VIBES</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Brand</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Disney</a></li>
            <li><a class="dropdown-item" href="#">Recarlo</a></li>
            <li><a class="dropdown-item" href="#">Pianegonda</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link"[routerLink]="['/anelli']">Anelli</a></li>
        <li class="nav-item"><a class="nav-link"[routerLink]="['/orecchini']">Orecchini</a></li>
        <li class="nav-item"><a class="nav-link"[routerLink]="['/collane']">Collane</a></li>
        <li class="nav-item"><a class="nav-link"[routerLink]="['/bracciali']">Bracciali</a></li>
        <li class="nav-item"><a class="nav-link"[routerLink]="['/ciondoli']">Ciondoli</a></li>
        <li class="nav-item"><a class="nav-link"[routerLink]="['/accessori']">Accessori</a></li>
        <li class="nav-item"><a class="nav-link"[routerLink]="['/orologi']">Orologi</a></li>
      </ul>
    </div>
  </nav>



  <div class="faq-container">
    <h1>FAQ - Domande Frequenti su Ros Jewels</h1>
  
    <section>
      <h2>1. Quali Metodi di Pagamento Accettate?</h2>
      <p>
        Accettiamo i seguenti metodi di pagamento: carta di credito (Visa, MasterCard, American Express), PayPal, e bonifico bancario. Tutti i pagamenti sono processati in modo sicuro e le informazioni finanziarie non vengono memorizzate sui nostri server.
      </p>
    </section>
  
    <section>
      <h2>2. Come Posso Verificare lo Stato del Mio Ordine?</h2>
      <p>
        Una volta effettuato l'ordine, riceverete un'email di conferma con un numero di tracking. Potete utilizzare questo numero per verificare lo stato della spedizione tramite il sito del corriere. In alternativa, potete accedere al vostro account su Ros Jewels e visualizzare lo stato degli ordini nella sezione "I miei ordini".
      </p>
    </section>
  
    <section>
      <h2>3. Quali Sono i Tempi di Consegna?</h2>
      <p>
        I tempi di consegna variano in base alla destinazione e al tipo di spedizione selezionato al momento dell'acquisto. In generale, gli ordini in Italia vengono consegnati entro 3-5 giorni lavorativi, mentre le consegne internazionali possono richiedere da 7 a 14 giorni lavorativi.
      </p>
    </section>
  
    <section>
      <h2>4. Come Posso Effettuare un Reso?</h2>
      <p>
        Per effettuare un reso, seguite i passi indicati nella nostra pagina "Effettua un Reso". Ricordate che avete 14 giorni dalla data di consegna per restituire i prodotti nelle loro condizioni originali. Una volta ricevuto il reso, procederemo al rimborso entro 14 giorni.
      </p>
    </section>
  
    <section>
      <h2>5. Offrite la Spedizione Gratuita?</h2>
      <p>
        Offriamo la spedizione gratuita per tutti gli ordini superiori a €100 in Italia. Per gli ordini internazionali, le spese di spedizione variano in base alla destinazione e verranno calcolate al momento del pagamento.
      </p>
    </section>
  
    <section>
      <h2>6. Cosa Fare se Ho Ricevuto un Prodotto Difettoso?</h2>
      <p>
        Se avete ricevuto un prodotto difettoso, vi preghiamo di contattarci immediatamente all'indirizzo <a href="mailto:support@rosjewels.com">support@rosjewels.com</a> con il numero d'ordine e una descrizione del difetto. Provvederemo a sostituire il prodotto o a rimborsare l'importo pagato.
      </p>
    </section>
  
    <section>
      <h2>7. Posso Modificare o Cancellare il Mio Ordine Dopo Averlo Effettuato?</h2>
      <p>
        Una volta effettuato l'ordine, non possiamo garantire che sarà possibile modificarlo o cancellarlo, in quanto elaboriamo gli ordini rapidamente per garantire tempi di consegna ridotti. Tuttavia, vi invitiamo a contattarci il prima possibile all'indirizzo <a href="mailto:support@rosjewels.com">support@rosjewels.com</a> e faremo del nostro meglio per assistervi.
      </p>
    </section>
  
    <section>
      <h2>8. Come Posso Contattarvi?</h2>
      <p>
        Potete contattarci via email all'indirizzo <a href="mailto:support@rosjewels.com">support@rosjewels.com</a> o chiamarci al numero +39 012 3456789. Il nostro team di supporto è disponibile dal lunedì al venerdì, dalle 9:00 alle 18:00.
      </p>
    </section>
  
    <section>
      <h2>9. Offrite Prodotti Personalizzati?</h2>
      <p>
        Sì, offriamo la possibilità di personalizzare alcuni dei nostri gioielli. Visitate la nostra pagina "Personalizza il Tuo Gioiello" per scoprire le opzioni disponibili e creare il vostro pezzo unico.
      </p>
    </section>
  
    <section>
      <h2>10. Come Posso Iscrivermi alla Newsletter?</h2>
      <p>
        Per iscrivervi alla nostra newsletter e ricevere aggiornamenti su nuove collezioni, offerte speciali e eventi esclusivi, inserite il vostro indirizzo email nel modulo di iscrizione presente in fondo alla pagina. Potete annullare l'iscrizione in qualsiasi momento.
      </p>
    </section>
  </div>
  