<div class="container my-5">
    <h2 class="mb-4 text-center">Scopri e acquista per categoria</h2>
    <div class="row g-3">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div class="card card-category">
                <a class="nav-link"[routerLink]="['/bracciali']"><img src="../../../assets/immagini/carosello gioielli/bracciali.jpg" alt="Bracciali"></a>  
                <div class="card-body">
                    <a class="nav-link"[routerLink]="['/bracciali']"><h5>Bracciali</h5></a> 
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div class="card card-category">
                <a class="nav-link"[routerLink]="['/collane']"><img src="../../../assets/immagini/carosello gioielli/collane.jpg" alt="Collane"></a>
                <div class="card-body">
                    <a class="nav-link"[routerLink]="['/collane']"><h5>Collane</h5></a>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div class="card card-category">
                <a class="nav-link"[routerLink]="['/orecchini']"><img src="../../../assets/immagini/carosello gioielli/orecchini.jpg" alt="Orecchini"></a>   
                <div class="card-body">
                    <a class="nav-link"[routerLink]="['/orecchini']"><h5>Orecchini</h5></a>  
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div class="card card-category">
                <a class="nav-link"[routerLink]="['/anelli']">
                    <img src="../../../assets/immagini/carosello gioielli/anelli.jpg" alt="Anelli"></a>
                <div class="card-body">
                    <a class="nav-link"[routerLink]="['/anelli']"><h5>Anelli</h5></a>
                    
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div class="card card-category">
                <img src="../../../assets/immagini/carosello gioielli/gioielli saldati.jpg" alt="Gioielli Saldati">
                <div class="card-body">
                    <h5>Gioielli saldati</h5>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div class="card card-category">
                <img src="../../../assets/immagini/carosello gioielli/idee per te.jpg" alt="Idee per te">
                <div class="card-body">
                    <h5>Idee per te</h5>
                </div>
            </div>
        </div>
    </div>
</div>