<div class="container my-5">
    <h2 class="mb-4 text-center">Scopri e acquista per categoria</h2>
    <div class="row g-3">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div class="card card-category">
                <img src="../../../assets/immagini/carosello gioielli/bracciali.jpg" alt="Bracciali">
                <div class="card-body">
                    <h5>Bracciali</h5>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div class="card card-category">
                <img src="../../../assets/immagini/carosello gioielli/collane.jpg" alt="Collane">
                <div class="card-body">
                    <h5>Collane</h5>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div class="card card-category">
                <img src="../../../assets/immagini/carosello gioielli/orecchini.jpg" alt="Orecchini">
                <div class="card-body">
                    <h5>Orecchini</h5>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div class="card card-category">
                <img src="../../../assets/immagini/carosello gioielli/anelli.jpg" alt="Anelli">
                <div class="card-body">
                    <h5>Anelli</h5>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div class="card card-category">
                <img src="../../../assets/immagini/carosello gioielli/gioielli saldati.jpg" alt="Gioielli Saldati">
                <div class="card-body">
                    <h5>Gioielli saldati</h5>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div class="card card-category">
                <img src="../../../assets/immagini/carosello gioielli/idee per te.jpg" alt="Idee per te">
                <div class="card-body">
                    <h5>Idee per te</h5>
                </div>
            </div>
        </div>
    </div>
</div>