<nav class="navbar navbar-expand-lg">
    <div class="container-fluid justify-content-center">
      <img src="../../../assets/immagini/logo-preview.png" alt="Logo">
    </div>
    <div class="container-fluid justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link"[routerLink]="['/all']">All</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ros Jewels</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Collezioni diamanti</a></li>
            <li><a class="dropdown-item" href="#">Collezioni oro</a></li>
            <li><a class="dropdown-item" href="#">Collezioni argento</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Love Jewels</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Anelli love</a></li>
            <li><a class="dropdown-item" href="#">Bracciali love</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="#" style="color: hotpink;">SUMMER VIBES</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Brand</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Disney</a></li>
            <li><a class="dropdown-item" href="#">Recarlo</a></li>
            <li><a class="dropdown-item" href="#">Pianegonda</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link"[routerLink]="['/anelli']">Anelli</a></li>
        <li class="nav-item"><a class="nav-link"[routerLink]="['/orecchini']">Orecchini</a></li>
        <li class="nav-item"><a class="nav-link"[routerLink]="['/collane']">Collane</a></li>
        <li class="nav-item"><a class="nav-link"[routerLink]="['/bracciali']">Bracciali</a></li>
        <li class="nav-item"><a class="nav-link"[routerLink]="['/ciondoli']">Ciondoli</a></li>
        <li class="nav-item"><a class="nav-link"[routerLink]="['/accessori']">Accessori</a></li>
        <li class="nav-item"><a class="nav-link"[routerLink]="['/orologi']">Orologi</a></li>
      </ul>
    </div>
  </nav>



  <div class="return-container">
    <h1>Effettua un Reso - Ros Jewels</h1>
  
    <section>
      <h2>Come Effettuare un Reso</h2>
      <p>
        Se non siete completamente soddisfatti del vostro acquisto su Ros Jewels, avete il diritto di restituire i prodotti entro 14 giorni dalla data di consegna, a condizione che i prodotti siano nelle loro condizioni originali, non utilizzati, e con tutte le etichette e l'imballaggio originale.
      </p>
    </section>
  
    <section>
      <h2>Passi per Effettuare un Reso</h2>
      <ol>
        <li>
          <strong>Compilare il Modulo di Reso</strong>: Per avviare la procedura di reso, vi preghiamo di compilare il modulo di reso che trovate di seguito. Assicuratevi di inserire tutte le informazioni richieste per garantire una gestione rapida ed efficiente della vostra richiesta.
        </li>
        <li>
          <strong>Imballare il Prodotto</strong>: Inserite il prodotto che desiderate restituire nella sua confezione originale. Assicuratevi che sia accuratamente imballato per evitare danni durante il trasporto.
        </li>
        <li>
          <strong>Spedire il Pacco</strong>: Utilizzate un servizio di spedizione tracciabile per inviare il pacco all'indirizzo fornito di seguito. I costi di spedizione per il reso sono a carico del cliente, salvo nel caso di prodotti difettosi o errori di spedizione.
        </li>
        <li>
          <strong>Ricevere il Rimborso</strong>: Una volta ricevuto il pacco e verificata l'integrità dei prodotti, elaboreremo il rimborso utilizzando lo stesso metodo di pagamento utilizzato per l'acquisto originale. Il rimborso verrà accreditato entro 14 giorni dal ricevimento del reso.
        </li>
      </ol>
    </section>
  
    <section>
      <h2>Indirizzo per il Reso</h2>
      <address>
        <strong>Ros Jewels</strong><br />
        Via dell'Esempio, 123, Milano, Italia<br />
        CAP 20100
      </address>
    </section>
  
    <section>
      <h2>Domande Frequenti sui Resi</h2>
      <ul>
        <li>
          <strong>Posso restituire un prodotto personalizzato?</strong><br />
          Purtroppo, non accettiamo resi per prodotti personalizzati o su misura, salvo nel caso di difetti di fabbricazione.
        </li>
        <li>
          <strong>Cosa devo fare se ho ricevuto un prodotto difettoso o sbagliato?</strong><br />
          Se avete ricevuto un prodotto difettoso o sbagliato, vi preghiamo di contattarci immediatamente all'indirizzo <a href="mailto:support@rosjewels.com">support@rosjewels.com</a> con il numero d'ordine e una descrizione del problema. Provvederemo a fornirvi le istruzioni per il reso e a coprire i costi di spedizione.
        </li>
        <li>
          <strong>Quanto tempo ci vuole per ottenere un rimborso?</strong><br />
          Una volta ricevuto il reso e verificata l'integrità del prodotto, il rimborso sarà elaborato entro 14 giorni. Riceverete una notifica via email una volta completata la procedura.
        </li>
      </ul>
    </section>
  
    <section>
      <h2>Contatti</h2>
      <p>
        Per ulteriori informazioni o domande sulla nostra politica di reso, vi preghiamo di contattarci:
      </p>
      <address>
        <strong>Ros Jewels</strong><br />
        Email: <a href="mailto:support@rosjewels.com">support@rosjewels.com</a><br />
        Telefono: +39 012 3456789
      </address>
      <p>Grazie per aver scelto Ros Jewels. La vostra soddisfazione è la nostra priorità!</p>
    </section>
  </div>
  