<div class="container-fluid resi">
    <div class="row">
        <div class="col-sm icone">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M4.931 16.842H2.823V5.968h11.613v10.874H8.388" stroke="currentColor" stroke-width="1.05" stroke-miterlimit="10"></path> <path d="M6.677 18.935a1.746 1.746 0 1 0 0-3.492 1.746 1.746 0 0 0 0 3.492z" stroke="currentColor" stroke-width=".987" stroke-miterlimit="10"></path> <path d="M19.753 16.842h1.895v-6.66L19.25 7.786h-4.814v9.057h1.86" stroke="currentColor" stroke-width="1.05" stroke-miterlimit="10"></path> <path d="M19.517 12.887h-2.956V9.852h1.91l1.046 1.046v1.99zM5.291 11.405h5.92M9.543 13.588l2.42-2.183-2.42-2.183M18.042 18.935a1.746 1.746 0 1 0 0-3.492 1.746 1.746 0 0 0 0 3.492z" stroke="currentColor" stroke-width=".987" stroke-miterlimit="10"></path> </svg>
        </div>
        <div class="col-sm icone">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M12 2.96c-1.543 1.09-5.324 2.625-7.35 2.674-.242 5.16.839 11.573 7.35 15.405 6.511-3.832 7.592-10.245 7.35-15.405-2.026-.05-5.807-1.584-7.35-2.673z" stroke="currentColor" stroke-width="1.05" stroke-miterlimit="6.667"></path> <path d="M12 18.4c4.045-2.854 5.219-7.51 5.205-10.92-1.813-.215-4.112-1.36-5.205-2.13-1.093.77-3.392 1.915-5.205 2.13C6.781 10.89 7.955 15.545 12 18.4z" stroke="currentColor" stroke-width="1.05" stroke-miterlimit="6.667"></path> </svg>
        </div>
        <div class="col-sm icone">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M20.734 6.566 12 9.512 3.265 6.566M12 20.376V9.512" stroke="currentColor" stroke-width=".966" stroke-miterlimit="10"></path> <path d="m7.854 5.021 8.734 2.946" stroke="currentColor" stroke-width=".872" stroke-miterlimit="10"></path> <path d="m12 20.376 8.734-3.678V6.566L12 3.624 3.265 6.566V16.698L12 20.376z" stroke="currentColor" stroke-width=".966" stroke-miterlimit="10"></path> <path d="m5.602 9.546 3.67 1.27v2.454l-3.67-1.378V9.546z" stroke="currentColor" stroke-width=".872" stroke-miterlimit="10"></path> </svg>
        </div>
        <div class="col-sm icone">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M12 3.304c-5.32 0-9.633 3.327-9.633 7.431 0 2.625 1.769 4.927 4.433 6.249l-.808 3.392 4.739-2.282c.416.042.838.072 1.269.072 5.32 0 9.633-3.327 9.633-7.431S17.32 3.304 12 3.304z" stroke="currentColor" stroke-width="1.05" stroke-miterlimit="10" stroke-linecap="round"></path> </svg>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            SPEDIZIONE E RESO GRATUITO
        </div>
        <div class="col-sm">
            GARANZIA DI RESO
        </div>
        <div class="col-sm">
            CONFEZIONE OMAGGIO
        </div>
        <div class="col-sm">
            ASSISTENZA CLIENTI
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            Spedizioni gratuite a partire da 39€<br>
            Reso gratuito entro 15 giorni
        </div>
        <div class="col-sm">
            Garanzia di 2 anni<br>
            sui prodotti
        </div>
        <div class="col-sm">
            Confezione e shopper in omaggio per ogni acquisto
        </div>
        <div class="col-sm">
            Dal lunedì al venerdì<br>
            ore 9:00-12:30 / 14:00-20:00
        </div>
    </div>
</div>
