<div class="navbar-container">
  <video autoplay muted loop id="background-video">
    <source src="../../../assets/Video/Video NavBar.mp4" type="video/mp4">
  </video>

  <div class="top-bar">
    <div class="container-fluid d-flex justify-content-between">
      <div class="top-links">
        <a href="#">Eventi Ros Jewels</a>
        <a href="#">ADV</a>
        <a href="#">Store Locator</a>
        <a href="#">Contatti</a>
        <a href="#">Wishlist</a>
      </div>
      <div class="top-social-icons">
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
        <a *ngIf="!isAuthenticated" [routerLink]="['/auth']"><i class="bi bi-person"></i></a>
        <a *ngIf="isAuthenticated" (click)="openProfileModal()" class="bi bi-person"></a>
        <a href="#"><i class="bi bi-bag"></i></a>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid justify-content-center">
      <img src="../../../assets/immagini/logo-preview.png" alt="Logo">
    </div>
    <div class="container-fluid justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="#">All</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ros Jewels</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Collezioni diamanti</a></li>
            <li><a class="dropdown-item" href="#">Collezioni oro</a></li>
            <li><a class="dropdown-item" href="#">Collezioni argento</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Love Jewels</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Anelli love</a></li>
            <li><a class="dropdown-item" href="#">Bracciali love</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="#" style="color: hotpink;">SUMMER VIBES</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Brand</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Disney</a></li>
            <li><a class="dropdown-item" href="#">Recarlo</a></li>
            <li><a class="dropdown-item" href="#">Pianegonda</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">Anelli</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Orecchini</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Collane</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Bracciali</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Ciondoli</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Accessori</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Orologi</a></li>
        <li class="nav-item"><a class="nav-link" href="#">OUTLET</a></li>
      </ul>
    </div>
  </nav>

  <!-- Modale per Mostrare i Dati dell'Utente -->
  <div class="modal" [ngClass]="{'show': isProfileModalOpen}" tabindex="-1" role="dialog" [style.display]="isProfileModalOpen ? 'block' : 'none'">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Profilo Utente</h5>
          <button type="button" class="close" (click)="closeProfileModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><strong>Nome:</strong> {{ user?.nome }}</p>
          <p><strong>Email:</strong> {{ user?.email }}</p>
          <p><strong>Ruolo:</strong> {{ user?.role }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeProfileModal()">Chiudi</button>
          <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </div>
</div>
