<div class="splide">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <img src="../../../assets/immagini/carosello img/foto rid.png" alt="Pizza" />
      </li>
      <li class="splide__slide">
        <img src="../../../assets/immagini/carosello img/foto 2 rid.png" alt="Vegan" />
      </li>
      <li class="splide__slide">
        <img src="../../../assets/immagini/carosello img/foto 3 rid.png" alt="Carrefour" />
      </li>
      <li class="splide__slide">
        <img src="../../../assets/immagini/carosello img/foto 4 rid.png" alt="Envelope" />
      </li>
      <li class="splide__slide">
        <img src="../../../assets/immagini/carosello img/foto 5 rid.png" alt="Kfc" />
      </li>
      <li class="splide__slide">
        <img src="../../../assets/immagini/carosello img/foto rid.png" alt="Sushi" />
      </li>
      <li class="splide__slide">
        <img src="../../../assets/immagini/carosello img/foto 2 rid.png" alt="Carrots" />
      </li>
      <li class="splide__slide">
        <img src="../../../assets/immagini/carosello img/foto 3 rid.png" alt="Carrefour" />
      </li>
      <li class="splide__slide">
        <img src="../../../assets/immagini/carosello img/foto 4 rid.png" alt="Envelope" />
      </li>
      <li class="splide__slide">
        <img src="../../../assets/immagini/carosello img/foto 5 rid.png" alt="Kfc" />
      </li>
      
    </ul>
  </div>
</div>
